.login-form{
    padding: 0px 10px 10px;
    margin-top: 20px;
}

.login-title{
    text-align: center;
    margin-bottom: 10px;  
    font-size: 30px;
}

label{
    position: relative;
    top: 15px;
    left: 8px;
    background: white;
    padding: 0px 5px;
    font-style: italic;
    text-align: center;    
}

.form-group{    
    margin-bottom: 0px;
}

.button-login{
    margin: 25px 0px 10px 0px;
}

.button-register{
    margin: 25px 10px 10px 10px;
    align-self: center;
}

input{
    height: 50px
}

.form-control.ng-touched.ng-invalid{
    border: 2px solid red;
}

.form-control.ng-touched.ng-valid{
    border: 2px solid green;
}

.error-text{
    margin-left: 5px;
}

.alert{
    margin-bottom: 0px;
}