<div class="container home-css">
  <div class="row">
    <div class="col-xs-12 col-sm-8 text-center">
      <h3 class="font-weight-bold well well-sm">Welcome to Dr. Ashwani's Archive</h3>
      <div class="img-responsive hidden-xs">
        <img src="../../assets/images/cardiac.jpg" class="img-responsive center-block" alt="Cardiac Image">
      </div>
      <h5 class="text-justify panel-body hidden-xs welcome-text">This is the archive of the patients with or without cardiac history. You can register with us and create a profile
        on this website. We will monitor your stats and guide you regarding your cardiac health. You can also post any queries
        and we will guide you.</h5>
    </div>
    <div class="col-xs-12 col-sm-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>