<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 welcome-block">
      <h3 class="text-center font-weight-bold">Welcome to Dr. Ashwani's Archive</h3>
      <div class="hidden-xs">
        <img src="../../assets/images/cardiac.jpg" class="img-responsive center-block" alt="Cardiac Image">
      </div>
      <h5 class="text-justify text-center welcome-text">This is the archive of the patients with or without cardiac history. You can register with us and create a profile
        on this website. We will monitor your stats and guide you regarding your cardiac health. You can also post any queries
        and we will guide you.</h5>
    </div>
    <div class="col-xs-12 col-sm-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>